@use "../abstracts/variables" as *;

@font-face {
  font-family: "Kbcurioussoul-m3W9";
  src: url("./assets/fonts/Kbcurioussoul-m3W9.ttf"), format("truetype");
}

body {
  font-family: "Kbcurioussoul-m3W9";
  padding-top: 2rem;
}

a {
  text-decoration: none;
  font-size: clamp(1rem, 3.5vw, 2rem);
}

label,
input {
  font-family: $font-para;
}
