@use '../abstracts/variables' as *;

@font-face {
  font-family: 'Kbcurioussoul-m3W9';
  src: url('./assets/fonts/Kbcurioussoul-m3W9.ttf'), format('truetype');
}

body {
  font-family: 'Kbcurioussoul-m3W9';
}

a {
  text-decoration: none;
  cursor: url('./assets/icons/pointer.png') 10 0, auto;
}

label,
input,
select,
option {
  font-family: $font-para;
}

label,
select,
option {
  cursor: url('./assets/icons/pointer.png') 10 0, auto;
}

::selection {
  background-color: salmon;
}
