body {
  background-image: radial-gradient(rgb(241, 137, 241), purple);
  min-height: 100vh;
  background-size: 100vw 100vh;

  .toast-close {
    padding-inline: 0 1rem;
    color: red;
  }
}
html {
  cursor: url('./assets/icons/cursor.png'), auto;
}
