@use "../abstracts/variables" as *;

#add-new-product-body {
  padding-inline-start: 1rem;
}
p {
  font-family: $font-para;
  font-weight: 600;
  margin-block-end: 2rem;
}

// temp styles
#product-action-radio-wrapper {
  display: flex;
  .action-choice-wrapper {
    label {
      display: inline;
    }
    input {
      margin-right: 1rem;
    }
  }
}

#add-product-form {
  > * {
    display: none;
  }

  #product-id-input-wrapper {
    display: none;
  }
  label {
    display: block;
    margin-block-end: 0.25rem;
  }
  input,
  textarea {
    margin-block-end: 1rem;
  }
  button {
    font-family: $font-para;
    padding: 0.25rem 1rem;
  }
}
