@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as m;

#checkout-body {
  #checkout-h1 {
    text-align: center;
    font-size: clamp(2rem, 5.5vw, 5rem);
    margin-block-start: 2rem;
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-block: 1rem 2rem;

    a {
      @include m.regular-button;
      font-family: $font-para;
      padding: 0.5rem 1rem;
      outline: 1px solid chartreuse;
      font-weight: 600;
    }
  }

  #invoice-wrapper {
    // grid-template-columns: 1fr;

    table {
      width: 100%;
      margin-inline: auto;
      font-family: $font-para;
      border-spacing: 0;
      border: 1px solid chartreuse;
      border-radius: 15px 0px 15px 0px;
      // clamp later
      font-size: 1.25rem;

      tr:first-child th {
        padding-block: 1rem;
      }
      td {
        text-align: center;
      }
      tr:last-child td {
        padding-block-end: 1rem;
      }
      tfoot {
        tr:first-child td,
        tr:first-child th {
          border-top: 1px solid chartreuse;
          padding-block-start: 1rem;
        }
        th {
          text-align: right;
        }
        tr:last-child td,
        tr:last-child th {
          padding-block-end: 1rem;
        }
      }

      tr {
        .invoice-item-controls-wrapper {
          width: 100%;
          display: inline-flex;
          justify-content: space-around;

          img {
            max-width: 30px;
            cursor: pointer;
          }
        }
      }
    }
  }

  #payment-method-section {
    h2 {
      font-family: $font-para;
      text-align: center;
      margin-block-start: 1rem;
    }
    #payment-choice-wrapper {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .payment-img-wrapper {
        max-width: 250px;
        cursor: pointer;
      }
    }
  }
  #payment-modal,
  #order-complete-modal {
    font-family: $font-para;
    margin: auto;
    max-width: 60%;
    border: 2px solid chartreuse;
    outline: none;
    &::backdrop {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  #shipping-section {
    font-family: $font-para;
    display: none;
    h3 {
      text-align: center;
    }

    #shipping-confirm-info-wrapper {
      text-align: center;
      display: grid;
      grid-template-columns: 1fr 1fr;
      --pointer-ev: none;

      div {
        pointer-events: var(--pointer-ev);
        display: grid;
        grid-template-columns: 80%;
        gap: 0.25rem;
        justify-content: center;

        input {
          margin-block-end: 0.35rem;
          text-align: center;
        }
      }

      button {
        cursor: pointer;
        padding: 0.5rem 2.5rem;
        margin-block-start: 1rem;
        width: 30%;
        justify-self: center;
        grid-column: 1 / -1;
      }
    }
  }
}
