@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as m;

#checkout-body {
  .logo-wrapper {
    margin-block: 2rem 1.5rem;
    margin-inline: auto;
    max-width: 200px;
  }
  #checkout-h1 {
    font-size: clamp(2rem, 5.5vw, 5rem);
    text-align: center;
  }
  nav {
    @include m.display(flex, center, center, 2rem);
    margin-block: 1rem 2rem;
    width: 100%;

    a {
      @include m.regular-button;
      border: 1px solid chartreuse;
      font-family: $font-para;
      font-weight: 600;
      padding: 0.5rem 1rem;

      &:focus-visible {
        @include m.focus-visible;
      }
    }
  }
  #invoice-wrapper {
    table {
      border: 1px solid chartreuse;
      border-radius: 15px 0px 15px 0px;
      border-spacing: 0;
      font-family: $font-para;
      font-size: clamp(1rem, 0.939rem + 0.259vw, 1.25rem);
      margin-inline: auto;
      width: 100%;

      tr:first-child th {
        padding-block-start: 1rem;
      }
      td {
        text-align: center;
      }
      tr:last-child td {
        padding-block-end: 1rem;
      }
      tfoot {
        tr:first-child td,
        tr:first-child th {
          border-top: 1px solid chartreuse;
          padding-block-start: 1rem;
        }
        th {
          text-align: right;
        }
        tr:last-child td,
        tr:last-child th {
          padding-block-end: 1rem;
        }
      }
      tr {
        .invoice-item-controls-wrapper {
          @include m.display(inline-flex, center, flex-start, 1rem);

          img {
            cursor: url('./assets/icons/pointer.png') 10 0, auto;
            height: 1rem;
            width: 1rem;
          }
          img:last-child {
            height: 1.5rem;
            width: 1.5rem;
          }
        }
      }
    }
  }
  #payment-method-section {
    h2 {
      font-family: $font-para;
      margin-block-start: 1rem;
      text-align: center;
    }
    #payment-choice-wrapper {
      @include m.display(flex, center, space-around);

      .payment-img-wrapper {
        cursor: url('./assets/icons/pointer.png') 10 0, auto;
        max-width: 250px;
      }
    }
  }
  #payment-modal,
  #order-complete-modal {
    @include m.modal-styles;
    max-width: min(800px, calc(100% - 1.5rem));

    h4 {
      color: chartreuse;
      font-size: 2rem;
      margin-block: 1rem 2rem;
    }
    p {
      margin-inline: auto;
      max-width: 75%;
    }
    #order-conf-num {
      font-size: clamp(1rem, 0.815rem + 0.988vw, 2rem);
    }
    button {
      @include m.regular-button;
      font-family: $font-para;
      margin-block-start: 0.5rem;
      padding: 0.75rem 2.5rem;

      &:focus-visible {
        @include m.focus-visible;
      }
    }
  }
  #order-complete-modal {
    padding-block: 1rem 2rem;
  }
  #shipping-section {
    display: none;
    font-family: $font-para;

    h3 {
      margin-block: 1rem;
      text-align: center;
    }
    #disp-conf-info {
      p {
        margin: 0;
        text-align: center;
      }
    }
    #shipping-confirm-info-wrapper {
      --input-display: none;
      --pointer-ev: none;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(325px, 100%), 1fr));
      margin-block-end: 2rem;
      margin-inline: auto;
      max-width: min(100%, 750px);
      text-align: center;

      div {
        display: var(--input-display);
        gap: 0.25rem;
        grid-template-columns: 80%;
        justify-content: center;
        pointer-events: var(--pointer-ev);

        input {
          @include m.formInput;
          margin-block-end: 0.35rem;
          min-width: 275px;
          text-align: center;

          &:focus-within:invalid {
            outline: 3px solid red;
          }
          &:focus-within:valid {
            outline: 3px solid lime;
          }
        }
      }
      &:invalid #btn-edit-info {
        @include m.regular-button;
        margin-block-end: 0;
        margin-block-start: 1.5rem;
        pointer-events: auto;

        &:focus-visible {
          @include m.focus-visible;
        }
      }
      button {
        @include m.regular-button;
        grid-column: 1 / -1;
        justify-self: center;
        margin-block-start: 1.5rem;
        padding: 0.5rem 2.5rem;
        pointer-events: auto;

        &:focus-visible {
          @include m.focus-visible;
        }
      }
    }
  }
}
