@use '../abstracts/variables' as *;

#checkout-h1 {
  text-align: center;
  font-size: clamp(2rem, 5.5vw, 5rem);
}
#invoice-wrapper {
  grid-template-columns: 1fr;
  max-width: 80%;
  margin-inline: auto;
  table {
    font-family: $font-para;
    border-spacing: 0;
    border: 1px solid chartreuse;
    border-radius: 15px 0px 15px 0px;
    tr:first-child th {
      padding-block-start: 1rem;
    }
    td {
      text-align: center;
    }
    tr:last-child td {
      padding-block-end: 1rem;
    }
    tfoot {
      tr:first-child td,
      tr:first-child th {
        border-top: 1px solid chartreuse;
        padding-block-start: 1rem;
      }
      th {
        text-align: right;
      }
      tr:last-child td,
      tr:last-child th {
        padding-block-end: 1rem;
      }
    }
  }
}

#payment-method-section {
  h2 {
    font-family: $font-para;
    text-align: center;
    margin-block: 1rem;
  }
  #payment-choice-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .payment-img-wrapper {
      max-width: 250px;
    }
  }
}
