@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as m;

#dev-info {
  max-width: 40%;

  h1 {
    font-size: clamp(1.5rem, 2.75vw, 3rem);
    text-align: center;
    margin-block: 1rem;
  }

  nav {
    display: flex;
    align-items: center;
    margin-block-end: 1rem;

    ul {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      gap: 2rem;

      li {
        position: relative;
      }

      li:nth-child(1) {
        flex-basis: 25%;
        ::after {
          font-family: 'Kbcurioussoul-m3W9';
          content: 'HOME';
          position: absolute;
          color: chartreuse;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      li:nth-child(2) {
        flex-basis: 35%;

        ::after {
          font-family: 'Kbcurioussoul-m3W9';
          content: 'Shop';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  #img-unicorn-chew {
    max-width: 50%;
  }

  p {
    font-size: 1.125rem;
    max-width: 60ch;
    margin: 0;
    margin-inline: auto;
    text-align: center;

    &:nth-of-type(1) {
      margin-block: 1rem;
    }
    &:nth-of-type(9),
    &:nth-of-type(10) {
      margin-block-end: 1rem;
    }
    &:nth-of-type(13),
    &:nth-of-type(14),
    &:nth-of-type(15) {
      margin-block-end: 1rem;
    }
    &:nth-of-type(17) {
      margin-block-start: 2rem;
    }
  }

  #img-login-signup {
    margin-block: 2.5rem 2rem;
  }

  #img-toast-cart {
    margin-block: -1.25rem -0.75rem;
  }

  #img-orders {
    margin-block: 2rem;
  }

  h2 {
    margin-block: 2rem 1.75rem;
    text-align: center;
  }

  .language-js {
    margin-block: 2rem;
    border-radius: 15px 0px 15px;
  }

  #swagger-ui {
    margin-block: 2rem;
    border-radius: 15px 0px 15px;
  }

  #img-erd {
    margin-block: 1.25rem 1rem;
  }

  .language-sql {
    max-height: 650px;
    margin-block-start: 2rem;
    border-radius: 15px 0px 15px;
  }

  li {
    font-size: 1.5rem;
    font-family: $font-para;
  }
}
