@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as m;
#index-body {
  .testimonials-wrapper {
    h2 {
      font-family: $font-para;
      font-size: 1.5rem;
      font-weight: 500;
      letter-spacing: 1px;
      margin-block-end: 0.5rem;
      margin-inline-start: 2rem;
      rotate: -4deg;
      transform-origin: left bottom;

      span {
        display: inline-block;
        rotate: 12deg;
        transform: translate(-5px, 3px);
        transform-origin: left bottom;
      }
    }
    .testimonials-inner-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .testimonial {
        flex-basis: 315px;
        text-align: center;

        .testimonial-content-top {
          @include m.display(flex, center, center, 1rem);

          img:not(.stars-wrapper img) {
            border-radius: 50%;
            width: 65px;
          }
          .stars-wrapper {
            display: flex;
            flex-basis: calc(100px + (0.25rem * 3));
            gap: 0.25rem;

            img {
              width: 25px;
            }
          }
        }
        p {
          font-family: $font-para;
          font-weight: 600;
          margin-block-start: 0.5rem;
          margin-inline: auto;
          max-width: 25ch;
        }
      }
    }
  }
  #home-main {
    @include m.display(flex, stretch, center);
    flex-wrap: wrap;

    #home-main-left-col {
      flex-basis: min(875px, 100%);

      .featured-card {
        align-self: start;
        background: rgba(255, 255, 255, 0.25);
        border-radius: 30px 0 30px 0;
        font-family: $font-para;
        margin-inline: auto;
        outline: 2px solid chartreuse;
        padding: 1rem 1rem 1.5rem;
        position: relative;
        width: max(370px, 80%);

        .featured-star {
          filter: drop-shadow(2px 2px 0px chartreuse);
          min-width: 1rem;
          position: absolute;
          right: 2rem;
          top: 1rem;
          width: 3vw;
        }
        h2 {
          color: chartreuse;
          font-family: 'Kbcurioussoul-m3W9';
          font-size: clamp(1rem, 2.25vw, 2.25rem);
          margin-block-end: 0.5rem;
          margin-inline-start: 1.125rem;
        }
        .featured-content-wrapper {
          @include m.display(flex, center, center, 1rem);
          flex-wrap: wrap;
          font-size: 1.125rem;

          img {
            border-radius: $b-rad;
            margin-inline-start: 1.125rem;
            max-width: 250px;
          }
          #featured-info-wrapper {
            @include m.display(grid, stretch, center, 0.5rem);
            flex: 1;
            min-width: 250px;

            h3 {
              font-size: clamp(1rem, 1.35vw, 1.35rem);
            }
            p {
              font-size: clamp(0.75rem, 1vw, 1rem);
              margin-block-end: 0.5rem;
              max-width: 35ch;
            }
            a {
              @include m.regular-button;
              padding: 0.5rem 1.5rem 0.65rem;
              justify-self: start;

              &:focus-visible {
                @include m.focus-visible();
              }
            }
          }
        }
      }
      #link-img-wrapper {
        @include m.display(flex, center, center, 4rem);
        margin-block-start: 2rem;

        img:first-child {
          border-radius: 0px 15px 0px 15px;
          transform: scaleX(-1);
        }
        img {
          border: 2px solid chartreuse;
          border-radius: $b-rad;
          width: clamp(3.125rem, 1.608rem + 6.472vw, 9.375rem);
        }
        #thought-link {
          @include m.regular-button;
          padding-block: 0.75rem;
          position: relative;
          text-align: center;
          width: 30%;

          ::after {
            @include m.standing-by(-1.5rem, -7%);
            content: 'Our operators';
          }
          ::before {
            @include m.standing-by(2.25rem, 30%);
            content: 'are standing by.';
          }
          a:focus-visible {
            outline: none;
          }
          &:has(a:focus-visible) {
            @include m.focus-visible();
          }
        }
      }
    }
    .home-text-wrapper {
      display: inline;
      flex: 1;
      font-family: $font-para;
      font-size: clamp(0.75rem, 1vw, 1rem);
      min-width: 350px;
      padding-inline-end: 2rem;
      text-align: center;

      p {
        margin-block: 1rem 0.5rem;
        margin-inline: auto;
        max-width: 65ch;
      }
      .give-away-wrapper {
        align-self: center;
        justify-self: center;

        h3 {
          color: chartreuse;
          font-family: 'Kbcurioussoul-m3W9';
          font-size: clamp(1rem, 1.35vw, 1.35rem);
          position: relative;
          text-align: center;

          &::after {
            content: '*';
            margin-inline-start: 0.15rem;
            position: absolute;
          }
          span {
            color: orange;
            font-size: 2rem;
            vertical-align: middle;
          }
        }
        .give-away-img-wrapper {
          margin-inline: auto;
          position: relative;
          width: fit-content;

          #give-away-star-1 {
            filter: drop-shadow(2px 2px 0px chartreuse);
            left: -0.5rem;
            position: absolute;
            top: 0.5rem;
            width: clamp(1rem, 0.757rem + 1.036vw, 2rem);
          }
          #give-away-star-2 {
            bottom: -0.5rem;
            filter: drop-shadow(2px 2px 0px chartreuse);
            position: absolute;
            right: 0;
            rotate: 17deg;
            width: clamp(2rem, 1.515rem + 2.071vw, 4rem);
          }
          img:not(#give-away-star-1):not(#give-away-star-2) {
            border-radius: 30px 0 30px 0;
            margin-inline: auto;
            outline: 2px solid chartreuse;
            width: 250px;
          }
        }
        input {
          border: none;
          border-radius: $b-rad;
          display: block;
          font-family: $font-para;
          font-size: 1.25rem;
          margin-block: 0.5rem 1.5rem;
          margin-inline: auto;
          max-width: 20rem;
          outline: 2px solid chartreuse;
          padding: 0.15rem 0.35rem;
          width: 85%;

          &::placeholder {
            font-family: 'Kbcurioussoul-m3W9';
            opacity: 0.65;
          }
        }
        .give-away-disclaimer {
          color: chartreuse;
          font-family: $font-para;
          font-size: 0.85rem;
          line-height: 1.3;
          margin: 0.5rem auto;
          max-width: 30ch;
          text-align: center;
        }
      }
    }
  }
  footer {
    margin-block: 3rem;
    text-align: center;
  }
}
