@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as m;

#orders-body {
  align-content: center;

  .logo-wrapper {
    margin-block-start: 2rem;
    margin-inline: auto;
    max-width: 300px;
  }
  h1 {
    @include m.h1Styles;
    margin-block-end: 1rem;
    padding-block-start: 2rem;
  }
  #orders-summary-main {
    margin-inline: auto;
    width: 100%;

    table {
      border-collapse: collapse;
      columns: 20%;
      font-family: $font-para;
      font-size: clamp(1rem, 0.879rem + 0.518vw, 1.5rem);
      text-align: center;
      width: 100%;

      caption {
        border-bottom: 2px solid;
        border-image-slice: 1;
        padding-block-end: 1rem;

        border-image: linear-gradient(
          to right,
          transparent 30%,
          rgba(128, 255, 0, 0.65) 50%,
          transparent 70%
        );
      }
      thead tr th {
        border-bottom: 1px solid chartreuse;
        padding-block: 1rem;
      }
      tbody {
        tr:first-child td {
          padding-block-start: 0.75rem;
        }
        tr:last-child td {
          border-bottom: 1px solid chartreuse;
          padding-block-end: 0.75rem;
        }
        tr td {
          border-bottom: 1px dotted chartreuse;
          padding-block: 0.5rem;
        }
      }
      tr:not(:has(th)) {
        cursor: url('./assets/icons/pointer.png') 10 0, auto;
      }
    }
  }
  nav {
    margin-block: 2rem 3rem;

    ul {
      @include m.display(flex, stretch, center, 2rem);

      #home-link,
      #shop-link {
        @include m.btn-home-link;
        font-family: $font-para;
        font-size: 1.125rem;
        list-style-type: none;
        width: fit-content;

        a {
          @include m.btn-link;
        }
      }
    }
  }
}
#order-review-modal {
  background-image: radial-gradient(rgb(243, 160, 243), rgb(192, 84, 192));
  border: 3px solid chartreuse;
  border-radius: 30px 0px 30px;
  box-shadow: 0px 0px 25px #7fff0082;
  font-family: $font-para;
  margin: auto;
  outline: 1px solid chartreuse;
  outline-offset: -1rem;
  padding-block: 3rem;
  padding-inline: clamp(0.5rem, -0.592rem + 4.66vw, 5rem);

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
  }
  h2 {
    font-size: clamp(1.5rem, 2.75vw, 3rem);
    margin-block-end: 0.5rem;
    text-align: center;
  }
  #order-review-info {
    font-size: clamp(1rem, 2.5vw, 1.5rem);

    table {
      border-collapse: collapse;
      columns: 25%;
      text-align: center;
      width: clamp(23.438rem, 13.956rem + 40.453vw, 62.5rem);

      caption {
        padding-block-end: 1rem;
      }
      tr td {
        padding-block: 0.25rem;
      }
      tbody {
        tr:last-child td {
          border-bottom: 1px solid chartreuse;
          padding-block-end: 0.75rem;
        }
      }
      tfoot {
        tr:first-child td {
          padding-block-start: 0.75rem;
        }
      }
    }
  }
  #btn-cancel-order {
    @include m.regular-button;
    color: red;
    display: none;
    font-size: 1rem;
    height: 100%;
    justify-self: center;
    margin-inline: auto;
    padding: 0.25rem 1rem;

    &:focus-visible {
      @include m.focus-visible();
    }
  }
  #btn-close-order-review {
    @include m.regular-button;
    box-shadow: 0px 0px 15px #7fff0082;
    margin-block-start: 2rem;
    margin-left: 50%;
    padding-block: 1rem;
    transform: translateX(-50%);
    width: 50%;

    &:focus-visible {
      @include m.focus-visible();
    }
  }
}
