@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as m;

#orders-body {
  align-content: center;

  h1 {
    @include m.h1Styles;
    padding-block-start: 2rem;
  }

  #orders-summary-main {
    width: 100%;
    margin-inline: auto;

    table {
      font-family: $font-para;
      text-align: center;
      columns: 25%;
      width: 100%;
      border-collapse: collapse;
      // clamp this later
      font-size: 1.5rem;

      thead tr th {
        border-bottom: 1px solid chartreuse;
        padding-block-end: 2rem;
      }

      tbody {
        tr:first-child td {
          padding-block-start: 0.75rem;
        }
        tr:last-child td {
          border-bottom: 1px solid chartreuse;
          padding-block-end: 0.75rem;
        }

        tr td {
          padding-block: 0.5rem;
          border-bottom: 1px dotted chartreuse;
        }
      }

      tr:not(:has(th)) {
        cursor: pointer;
      }
    }
  }
  #home-link {
    @include m.btn-home-link;
    width: fit-content;
    margin-inline: auto;
    margin-block-start: 1.5rem;
    a {
      @include m.btn-link;
    }
  }
}

#order-review-modal {
  font-family: $font-para;
  margin: auto;
  background-image: radial-gradient(rgb(243, 160, 243), rgb(192, 84, 192));
  border: 3px solid chartreuse;
  border-radius: 30px 0px 30px;
  box-shadow: 0px 0px 25px #7fff0082;
  outline: 1px solid chartreuse;
  outline-offset: -1rem;
  padding: 3rem 5rem;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
  }

  h2 {
    text-align: center;
    font-size: clamp(1.5rem, 2.75vw, 3rem);
    margin-block-end: 0.5rem;
  }

  #order-review-info {
    font-size: clamp(1rem, 2.5vw, 1.5rem);

    table {
      text-align: center;
      columns: 25%;
      width: 1000px;
      border-collapse: collapse;

      caption {
        padding-block-end: 1rem;
      }

      tr td {
        padding-block: 0.25rem;
      }

      tbody {
        tr:last-child td {
          border-bottom: 1px solid chartreuse;
          padding-block-end: 0.75rem;
        }
      }

      tfoot {
        tr:first-child td {
          padding-block-start: 0.75rem;
        }
      }
    }
  }
  button {
    width: 50%;
    padding-block: 1rem;
    margin-block-start: 2rem;
    margin-left: 50%;
    transform: translateX(-50%);
    @include m.regular-button;
    box-shadow: 0px 0px 15px #7fff0082;
  }
}
