@use '../abstracts/variables' as *;

#shopping-sub-head {
  .h1-animation {
    span:nth-child(1) {
      animation: h1-color-animation $h1-clr-anim forwards;
      animation-delay: $h1-clr-anim-delay;
    }
    span:nth-child(2) {
      animation: h1-color-animation $h1-clr-anim forwards;
      animation-delay: $h1-clr-anim-delay1;
    }
    span:nth-child(3) {
      animation: h1-color-animation $h1-clr-anim forwards;
      animation-delay: $h1-clr-anim-delay2;
    }
    span:nth-child(4) {
      animation: h1-color-animation $h1-clr-anim forwards;
      animation-delay: $h1-clr-anim-delay3;
    }
    span:nth-child(5) {
      animation: h1-color-animation $h1-clr-anim forwards;
      animation-delay: $h1-clr-anim-delay4;
    }
    span:nth-child(6) {
      animation: h1-color-animation $h1-clr-anim forwards;
      animation-delay: $h1-clr-anim-delay5;
    }
    span:nth-child(7) {
      animation: h1-color-animation $h1-clr-anim forwards;
      animation-delay: $h1-clr-anim-delay6;
    }
    span:nth-child(8) {
      animation: h1-color-animation $h1-clr-anim forwards;
      animation-delay: $h1-clr-anim-delay7;
    }
    span:nth-child(9) {
      animation: h1-color-animation $h1-clr-anim forwards;
      animation-delay: $h1-clr-anim-delay8;
    }
    span:nth-child(10) {
      animation: h1-color-animation $h1-clr-anim forwards;
      animation-delay: $h1-clr-anim-delay9;
    }
    span:nth-child(11) {
      animation: h1-color-animation $h1-clr-anim forwards;
      animation-delay: $h1-clr-anim-delay10;
    }
    span:nth-child(12) {
      animation: h1-color-animation $h1-clr-anim forwards;
      animation-delay: $h1-clr-anim-delay11;
    }
    span:nth-child(13) {
      animation: h1-color-animation $h1-clr-anim forwards;
      animation-delay: $h1-clr-anim-delay12;
    }
    span:nth-child(14) {
      animation: h1-color-animation $h1-clr-anim forwards;
      animation-delay: $h1-clr-anim-delay13;
    }
    span:nth-child(15) {
      animation: h1-color-animation $h1-clr-anim forwards;
      animation-delay: $h1-clr-anim-delay14;
    }
    span:nth-child(16) {
      animation: h1-color-animation $h1-clr-anim forwards;
      animation-delay: $h1-clr-anim-delay15;
    }
    span:nth-child(17) {
      animation: h1-color-animation $h1-clr-anim forwards;
      animation-delay: $h1-clr-anim-delay16;
    }
    span:nth-child(18) {
      animation: h1-color-animation $h1-clr-anim forwards;
      animation-delay: $h1-clr-anim-delay17;
    }
    span:nth-child(19) {
      animation: h1-color-animation $h1-clr-anim forwards;
      animation-delay: $h1-clr-anim-delay18;
    }
    span:nth-child(20) {
      animation: h1-color-animation $h1-clr-anim forwards;
      animation-delay: $h1-clr-anim-delay19;
    }
    span:nth-child(21) {
      animation: h1-color-animation $h1-clr-anim forwards;
      animation-delay: $h1-clr-anim-delay20;
    }
    span:nth-child(22) {
      animation: h1-color-animation $h1-clr-anim forwards;
      animation-delay: $h1-clr-anim-delay21;
    }
    span:nth-child(23) {
      animation: h1-color-animation $h1-clr-anim forwards;
      animation-delay: $h1-clr-anim-delay22;
    }
  }
}

@keyframes h1-color-animation {
  0% {
    color: $h1-anim-clr-1;
  }
  24% {
    color: $h1-anim-clr-1;
  }
  25% {
    color: $h1-anim-clr-2;
  }
  49% {
    color: $h1-anim-clr-2;
  }
  50% {
    color: $h1-anim-clr-3;
  }
  74% {
    color: $h1-anim-clr-3;
  }
  75% {
    color: $h1-anim-clr-4;
  }
  99% {
    color: $h1-anim-clr-4;
  }

  100% {
    color: rgba(128, 255, 0, 0.75);
  }
}
