@use '../abstracts/variables' as *;

#shop-page-header {
  .logo-wrapper {
    align-self: start;
  }
}

#shopping-sub-head {
  border-top: 1px solid rgba(128, 255, 0, 0.5);
  border-bottom: 1px solid rgba(128, 255, 0, 0.5);
  // border-radius: 0.5rem;
  border-radius: 15px 0px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  margin-top: 2rem;

  h1 {
    // font-size: 3rem;
    line-height: 1.5;
    color: rgba(128, 255, 0, 0.75);
    text-wrap: balance;

    span {
      font-size: clamp(1.5rem, 2.75vw, 3rem);
    }
  }

  #input-wrapper {
    font-size: 1.25rem;

    label {
      font-weight: 600;
    }

    select {
      background-color: rgb(243, 160, 243);
      font-size: inherit;
      margin-inline-start: 0.5rem;
      text-align: center;
      padding-block: 0.25rem;
      border-radius: 15px 0px 15px;

      option {
        text-align-last: center;
      }
    }
  }
}

.products-display-wrapper {
  h2 {
    margin-block: 1.5rem;
    margin-inline-start: 1.5rem;
    font-family: $font-para;
    letter-spacing: 1px;
    color: rgba(128, 255, 0, 0.75);
  }
  #product-cards-wrapper {
    font-family: $font-para;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
    gap: 1rem;

    .product-card {
      outline: 2px solid rgba(128, 255, 0, 0.5);
      background: rgba(128, 255, 0, 0.1);
      backdrop-filter: blur(10px);
      padding: 1.5rem 2rem;
      border-radius: 15px 0px 15px;
      cursor: url('./assets/icons/pointer.png'), auto;
      text-align: center;

      &:focus-visible {
        outline: 5px solid chartreuse;
        outline-offset: 5px;
      }

      h3 {
        font-size: clamp(1.25rem, 1.111rem + 0.741vw, 2rem);
      }
      // .card-category-title {
      // }
      .card-img-wrapper {
        max-width: 75%;
        margin-inline: auto;
        margin-block-end: 1.5rem;
        border-radius: 15px 0px 15px;
        overflow: hidden;
      }
      .product-info-content {
        //  .product-desc {}
        .card-prod-price {
          font-size: clamp(1.25rem, 1.111rem + 0.741vw, 2rem);
          font-weight: 700;
          span {
            font-size: clamp(1.5rem, 1.083rem + 2.222vw, 3.75rem);
            color: rgba(128, 255, 0, 0.75);
            display: inline-block;
            transform-origin: bottom;
            font-weight: 900;
            transform: translateY(12.5%);

            &:first-child {
              rotate: -15deg;
            }
            &:last-child {
              rotate: 15deg;
            }
          }
        }
      }
    }
  }
}

// the back to top button
.back-to-top {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;

  svg {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px 0px 10px;
    bottom: 0.5rem;
    right: 10vw;
    padding: 0.6rem;
    position: fixed;
    transition: background-color 0.3s;
    outline: 1px solid chartreuse;
    outline-offset: 2px;

    path {
      transition: fill 0.3s ease;
    }
  }

  &:hover svg,
  &:focus-visible svg {
    background-color: rgba(127, 255, 0, 0.4);
  }

  &:hover svg path,
  &:focus-visible svg path {
    fill: chartreuse;
  }
}
