@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as m;

#sign-in-page {
  display: grid;
  place-content: center;
  justify-items: center;
  min-height: 100dvh;

  h1 {
    @include m.h1Styles;
  }

  form {
    @include m.formStyles(grid);

    .login-form-group {
      @include m.formGroup(grid);

      input {
        @include m.formInput;

        &:focus-within:invalid {
          outline: 3px solid red;
        }
        &:focus-within:valid {
          outline: 3px solid lime;
        }
      }
    }

    &:valid #btn-login {
      @include m.btn-submit-form-valid;
    }

    #btn-login {
      padding-block: 0.5rem;

      // border: 2px solid chartreuse;
      @include m.btn-form;
    }
  }

  #home-link {
    @include m.btn-home-link;

    a {
      @include m.btn-link;
    }
  }

  #signup-link {
    a {
      font-size: clamp(1rem, 3.5vw, 2rem);
    }
  }
}
