@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as m;

#sign-up-body {
  align-content: center;

  .logo-wrapper {
    max-width: 200px;
    margin-inline: auto;
    margin-block: 2rem 1rem;
  }

  h1 {
    @include m.h1Styles;
    width: fit-content;
    margin-inline: auto;
  }

  #sign-up-form {
    @include m.formStyles(flex);
    column-gap: 2rem;
    flex-wrap: wrap;
    margin-block: -1rem 1.5rem;

    #sign-up-form-left-col,
    #sign-up-form-right-col {
      display: grid;
      gap: 0.5rem;
    }

    #sign-up-form-left-col.google-signup {
      .sign-up-input-wrapper:nth-child(1) {
        position: relative;
        visibility: hidden;
        pointer-events: none;

        ::after {
          content: 'You have chosen to sign up with google, there is one more step to finish the sign up process.';
          position: absolute;
          top: 0rem;
          left: 0;
          visibility: visible;
        }

        ::before {
          content: '';
          width: 125px;
          height: 150px;
          display: block;
          background-image: url('./assets/images/unicorn_stuffed.png');
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          bottom: -9rem;
          left: 50%;
          transform: skewX(0deg) skewY(0deg) translateX(-55%) scale(1) rotate(0);
          filter: brightness(1.25);
          visibility: visible;
          animation: unicorn-dance 15s linear infinite;
        }
      }
      .sign-up-input-wrapper:nth-child(2) {
        visibility: hidden;
      }
      .sign-up-input-wrapper:nth-child(3) {
        visibility: hidden;
      }
    }

    .sign-up-input-wrapper {
      @include m.formGroup(grid);

      input {
        @include m.formInput;

        &:focus-within:invalid {
          outline: 3px solid red;
        }
        &.validity-style:focus-within:valid {
          outline: 3px solid lime;
        }
      }
    }
    &:valid #btn-signup {
      @include m.btn-submit-form-valid;
    }

    fieldset {
      border-color: chartreuse;
      padding-inline: 1rem;
      padding-block-end: 0.5rem;
      // width: fit-content;
      margin-inline: 15rem;
      margin-block: 1.5rem;
      position: relative;

      legend {
        font-family: $font-para;
        font-weight: 600;
        font-size: 1rem;
        padding-inline: 0.25rem;
        padding-block-end: 0.25rem;
      }

      .sign-up-input-wrapper {
        @include m.formGroup(flex);
        font-size: 1rem;
        gap: 0.5rem;
        justify-content: start;
        max-width: fit-content;

        input {
          accent-color: chartreuse;
        }
      }
    }
    .unicorn-float {
      ::before {
        content: '';
        width: 125px;
        height: 150px;
        display: block;
        background-image: url('./assets/images/unicorn_stuffed.png');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        bottom: -5rem;
        left: -6rem;
        transform: skewX(0deg) skewY(0deg) translateX(-55%) scale(1) rotate(0);
        filter: brightness(1.25);
        animation: unicorn-dance 15s linear infinite;
      }
    }

    #btn-signup {
      @include m.btn-form;
      margin-inline: auto;
      width: 200px;
      padding: 0.75rem 1.5rem;
      display: block;
      margin-block-end: 0rem;
    }
  }

  #home-link {
    @include m.btn-home-link;
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
    // margin-block-start: 1.5rem;

    a {
      @include m.btn-link;
    }
  }
}

@keyframes unicorn-dance {
  0%,
  100% {
    transform: skewX(0deg) skewY(0deg) translateX(-55%) scale(1) rotate(0);
  }

  33% {
    transform: skewX(0deg) skewY(1deg) translateX(-57%) scale(0.97)
      rotate(-2deg);
  }
  66% {
    transform: skewX(1deg) skewY(0deg) translateX(-53%) scale(0.97) rotate(1deg);
  }
}
