#thought-body {
  // &,
  // * {
  //   outline: 2px solid lime;
  // }
  padding-block-start: 2rem;
  .logo-wrapper {
    max-width: 300px;
    margin: 0 auto 2rem;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 50%;
    margin-inline: auto;

    li {
      list-style-type: none;
      position: relative;

      img {
        opacity: 0.6;
        width: clamp(5rem, 10vw, 10rem);
      }
    }
  }

  h1 {
    text-align: center;
    margin-block: 2rem;
  }

  p {
    max-width: 45ch;
    margin: 0;
    padding: 1.5rem 2rem;
    margin-inline: auto;
    text-align: center;
    outline: 1px solid chartreuse;
    border-radius: 15px 0 15px;
  }
}
