*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  font: inherit;
}

a:visited,
a:link {
  color: currentColor;
}

@font-face {
  font-family: "Kbcurioussoul-m3W9";
  src: url("./assets/fonts/Kbcurioussoul-m3W9.ttf"), format("truetype");
}
body {
  font-family: "Kbcurioussoul-m3W9";
  padding-top: 2rem;
}

a {
  text-decoration: none;
  font-size: clamp(1rem, 3.5vw, 2rem);
}

label,
input {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-image: radial-gradient(rgb(243, 160, 243), purple);
  min-height: 100vh;
}

#punctuation {
  inset: 0;
  position: absolute;
  z-index: -99;
  overflow-x: clip;
}
#punctuation p {
  font-size: 50rem;
  bottom: 7.5vw;
  left: 0;
  rotate: -25deg;
  opacity: 0.1;
  position: absolute;
}

.testimonials-wrapper {
  grid-column: 1/4;
}
.testimonials-wrapper h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  margin-block-end: 0.5rem;
  margin-inline-start: 2rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
  transform-origin: left bottom;
  rotate: -4deg;
}
.testimonials-wrapper h2 span {
  transform-origin: left bottom;
  rotate: 12deg;
  display: inline-block;
  transform: translate(-5px, 3px);
}
.testimonials-wrapper .testimonials-inner-wrapper {
  display: flex;
}
.testimonials-wrapper .testimonials-inner-wrapper .testimonial {
  flex: 1;
  text-align: center;
}
.testimonials-wrapper .testimonials-inner-wrapper .testimonial .testimonial-content-top {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.testimonials-wrapper .testimonials-inner-wrapper .testimonial .testimonial-content-top img:not(.stars-wrapper img) {
  border-radius: 50%;
  width: 65px;
}
.testimonials-wrapper .testimonials-inner-wrapper .testimonial .testimonial-content-top .stars-wrapper {
  display: flex;
  gap: 0.25rem;
  flex-basis: calc(100px + 0.75rem);
}
.testimonials-wrapper .testimonials-inner-wrapper .testimonial .testimonial-content-top .stars-wrapper img {
  width: 25px;
}
.testimonials-wrapper .testimonials-inner-wrapper .testimonial p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  margin-inline: auto;
  margin-block-start: 0.5rem;
  max-width: 25ch;
}

main {
  display: grid;
  grid-template-columns: 65% 35%;
}
main .featured-card {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  outline: 2px solid chartreuse;
  padding: 1rem 1rem 1.5rem;
  border-radius: 50px 0 50px 0;
  background: rgba(255, 255, 255, 0.25);
  width: 90%;
  margin-inline: auto;
  position: relative;
  align-self: start;
}
main .featured-card .featured-star {
  position: absolute;
  right: 2rem;
  top: 1rem;
  min-width: 1rem;
  width: 3vw;
  filter: drop-shadow(2px 2px 0px chartreuse);
}
main .featured-card h2 {
  font-family: "Kbcurioussoul-m3W9";
  margin-block-end: 0.5rem;
  margin-inline-start: 1.125rem;
  font-size: clamp(1rem, 2.25vw, 2.25rem);
  color: chartreuse;
}
main .featured-card .featured-content-wrapper {
  display: grid;
  grid-template-columns: 35% 65%;
  font-size: 1.125rem;
  place-items: center;
}
main .featured-card .featured-content-wrapper h3 {
  font-size: clamp(1rem, 1.35vw, 1.35rem);
}
main .featured-card .featured-content-wrapper img {
  width: 85%;
}
main .featured-card .featured-content-wrapper p {
  max-width: 35ch;
  margin-block-end: 1rem;
  font-size: clamp(0.75rem, 1vw, 1rem);
}
main .featured-card .featured-content-wrapper button {
  width: 100%;
  padding-block: 0.5rem;
  background-color: rgba(255, 255, 255, 0.25);
  border-color: chartreuse;
  border-radius: 10px 0 10px 0;
  border-width: 1px;
  cursor: pointer;
}
main .home-text-wrapper {
  display: inline;
  padding-inline: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: clamp(0.75rem, 1vw, 1rem);
}
main .home-text-wrapper .give-away-wrapper {
  align-self: center;
  justify-self: center;
}
main .home-text-wrapper .give-away-wrapper h3 {
  font-size: clamp(1rem, 1.35vw, 1.35rem);
  color: chartreuse;
  position: relative;
  font-family: "Kbcurioussoul-m3W9";
  text-align: center;
}
main .home-text-wrapper .give-away-wrapper h3::after {
  content: "*";
  position: absolute;
  margin-inline-start: 0.15rem;
}
main .home-text-wrapper .give-away-wrapper h3 span {
  font-size: 2rem;
  color: orange;
  vertical-align: middle;
}
main .home-text-wrapper .give-away-wrapper .give-away-img-wrapper {
  position: relative;
}
main .home-text-wrapper .give-away-wrapper .give-away-img-wrapper #give-away-star-1 {
  position: absolute;
  left: 4rem;
  top: 0.5rem;
  width: 2vw;
  filter: drop-shadow(2px 2px 0px chartreuse);
}
main .home-text-wrapper .give-away-wrapper .give-away-img-wrapper #give-away-star-2 {
  position: absolute;
  right: 1rem;
  bottom: -0.5rem;
  width: 4vw;
  rotate: 17deg;
  filter: drop-shadow(2px 2px 0px chartreuse);
}
main .home-text-wrapper .give-away-wrapper .give-away-img-wrapper img:not(#give-away-star-1):not(#give-away-star-2) {
  width: 250px;
  margin-inline: auto;
  border-radius: 50px 0 50px 0;
  outline: 2px solid chartreuse;
}
main .home-text-wrapper .give-away-wrapper input {
  display: block;
  width: 85%;
  margin-inline: auto;
  font-size: 1.25rem;
  padding: 0.15rem;
  border-radius: 5px;
  margin-block: 0.5rem 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: none;
  outline: 2px solid chartreuse;
}
main .home-text-wrapper .give-away-wrapper input::placeholder {
  font-family: "Kbcurioussoul-m3W9";
  opacity: 0.65;
}
main .home-text-wrapper .give-away-wrapper .give-away-disclaimer {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.85rem;
  max-width: 30ch;
  margin: 0.5rem auto;
  line-height: 1.3;
  color: chartreuse;
}

#add-new-product-body {
  padding-inline-start: 1rem;
}

p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  margin-block-end: 2rem;
}

#product-action-radio-wrapper {
  display: flex;
}
#product-action-radio-wrapper .action-choice-wrapper label {
  display: inline;
}
#product-action-radio-wrapper .action-choice-wrapper input {
  margin-right: 1rem;
}

#add-product-form > * {
  display: none;
}
#add-product-form #product-id-input-wrapper {
  display: none;
}
#add-product-form label {
  display: block;
  margin-block-end: 0.25rem;
}
#add-product-form input,
#add-product-form textarea {
  margin-block-end: 1rem;
}
#add-product-form button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0.25rem 1rem;
}

#shopping-sub-head {
  border-top: 1px solid rgba(128, 255, 0, 0.5);
  border-bottom: 1px solid rgba(128, 255, 0, 0.5);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  margin-top: 2rem;
}
#shopping-sub-head h1 {
  font-size: 3rem;
  text-wrap: balance;
  line-height: 1.5;
  color: rgba(128, 255, 0, 0.75);
}
#shopping-sub-head .shopping-action-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#shopping-sub-head .shopping-action-wrapper .shopping-home-link-wrapper {
  position: relative;
}
#shopping-sub-head .shopping-action-wrapper .shopping-home-link-wrapper :before {
  content: "HOME";
  position: absolute;
  font-size: 1rem;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
#shopping-sub-head .shopping-action-wrapper .shopping-home-link-wrapper img {
  min-width: 60px;
  width: 60px;
  border-radius: 15px 0px 15px 0px;
}

.products-display-wrapper #product-cards-wrapper {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.products-display-wrapper #product-cards-wrapper .product-card img {
  max-width: 100px;
}

body {
  width: 70%;
  margin-inline: auto;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "logo nav nav" "logo head head" "logo head head";
}
header .logo-wrapper {
  height: 300px;
  display: grid;
  place-content: center;
  min-width: 150px;
  grid-area: logo;
}
header nav {
  grid-area: nav;
  margin-block-start: 1rem;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  margin-inline: 1rem;
}
header nav ul li {
  list-style-type: none;
  position: relative;
}
header nav ul li img {
  opacity: 0.6;
  width: clamp(5rem, 10vw, 10rem);
}
header nav ul li:nth-child(1) {
  rotate: 15deg;
}
header nav ul li:nth-child(3) {
  rotate: -10deg;
}
header nav ul li a::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-wrap: nowrap;
  font-size: 1.5rem;
}
header nav ul li:nth-child(1) a::after {
  content: "Sign In";
}
header nav ul li:nth-child(2) a::after {
  content: "Shop";
  top: 53%;
}
header nav ul li:nth-child(3) a::after {
  content: "Dev Stuff";
  font-size: 1.125rem;
}
header nav #shop-heading-text {
  text-align: center;
}
header .heading-social-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  margin-block-start: 2rem;
}
header .heading-social-wrapper .heading-social-star {
  position: absolute;
  top: 2.5rem;
  left: 1.5rem;
  min-width: 1rem;
  width: 2.5vw;
  rotate: -7deg;
}
header .heading-social-wrapper h1 {
  font-size: 3rem;
  text-align: center;
  margin-inline: auto;
  flex: 1;
}
header .heading-social-wrapper h1 span {
  font-size: clamp(2rem, 5.5vw, 7rem);
  display: inline-block;
  transform: translateY(0.5rem);
}
header .heading-social-wrapper h1 span:nth-of-type(1) {
  color: indigo;
  rotate: 15deg;
  transform: translateY(1.5rem);
}
header .heading-social-wrapper h1 span:nth-of-type(2) {
  color: blue;
  rotate: -12deg;
  transform: translateY(-0.1rem);
}
header .heading-social-wrapper h1 span:nth-of-type(3) {
  color: rgb(255, 0, 191);
  rotate: 10deg;
  transform: translateY(1.5rem);
}
header .heading-social-wrapper h1 span:nth-of-type(4) {
  color: yellow;
  rotate: -12deg;
}
header .heading-social-wrapper h1 :nth-of-type(5) {
  color: orangered;
  transform: translateY(1rem);
  rotate: 10deg;
}
header .heading-social-wrapper h1 :nth-of-type(6) {
  rotate: 15deg;
  font-size: 4rem;
  transform: translate(-1rem, 0.25rem);
}
header .heading-social-wrapper h1 span:last-child {
  color: chartreuse;
  margin-inline-start: 0.25rem;
}
header .heading-social-wrapper .social-wrapper {
  padding-inline-end: 2.5rem;
}
header .heading-social-wrapper .social-wrapper .icons-wrapper {
  margin-block-start: 0.5rem;
  display: grid;
  gap: 0.75rem;
}
header .heading-social-wrapper .social-wrapper .icons-wrapper img {
  width: 35px;
  margin-inline: auto;
}

#shop-page-header {
  display: flex;
}
#shop-page-header .logo-wrapper {
  flex-basis: 35vw;
  margin-inline-start: 2rem;
  align-self: center;
}
#shop-page-header nav {
  padding-inline-start: 2.25rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}