@use './variables' as *;

@mixin h1Styles {
  text-align: center;
  font-size: clamp(2rem, 0.852rem + 3.457vw, 4rem);
  text-wrap: balance;
  margin-block-end: 2rem;
  border-bottom: 2px solid;
  border-image: linear-gradient(
    to right,
    transparent 15%,
    rgba(128, 255, 0, 0.65) 50%,
    transparent 85%
  );
  border-image-slice: 1;
  padding-block-end: 1.25rem;
}

@mixin formStyles($display) {
  display: $display;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-family: $font-para;
}

@mixin formGroup($display) {
  width: clamp(18.75rem, 17.593rem + 6.173vw, 25rem);
  display: $display;
  text-align: center;
}

@mixin formInput {
  text-align: inherit;
  padding-block: 0.35rem;
  margin-block-start: 0.25rem;
  border-radius: 15px 0px 15px;
  outline-offset: 3px;
  box-shadow: 1px 1px 2px chartreuse;
}

@mixin btn-home-link {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  border-radius: 15px 0px 15px;
  outline: 2px solid chartreuse;
}

@mixin btn-link {
  display: inline-block;
  padding: 0.5rem 1rem;
}

@mixin btn-form {
  margin-block: 0.75rem;
  cursor: pointer;
  border-radius: 15px 0px 15px;
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0.3);
  font-weight: 600;
  pointer-events: none;
}
