@use './variables' as *;

@mixin h1Styles {
  text-align: center;
  font-size: clamp(2rem, 0.852rem + 3.457vw, 3.5rem);
  text-wrap: balance;
  margin-block-end: 2rem;
  border-bottom: 2px solid;
  border-image: linear-gradient(
    to right,
    transparent 30%,
    rgba(128, 255, 0, 0.65) 50%,
    transparent 70%
  );
  border-image-slice: 1;
  padding-block-end: 1.25rem;
}

@mixin formStyles($display) {
  display: $display;
  justify-content: center;
  gap: 0.5rem;
  // font-size: 1.25rem;
  font-family: $font-para;
}

@mixin formGroup($display) {
  width: clamp(18.75rem, 17.593rem + 6.173vw, 25rem);
  display: $display;
  text-align: center;
}

@mixin formInput {
  text-align: inherit;
  padding-block: 0.5rem;
  margin-block-start: 0.25rem;
  border-radius: 15px 0px 15px;
  outline-offset: 3px;
  box-shadow: 1px 1px 2px chartreuse;
}

@mixin btn-home-link {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  border-radius: 15px 0px 15px;
  outline: 2px solid chartreuse;
}

@mixin btn-link {
  display: inline-block;
  padding: 0.5rem 1rem;

  &:hover,
  &:focus-visible {
    outline: 2px solid white;
    outline-offset: 5px;
  }
}

@mixin btn-form {
  margin-block: 0.75rem;
  cursor: url('./assets/icons/pointer.png') 10 0, auto;
  border-radius: 15px 0px 15px;
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0.3);
  font-weight: 600;
  pointer-events: none;
}

@mixin btn-submit-form-valid {
  border: 2px solid chartreuse;
  pointer-events: auto;
  color: rgba(0, 0, 0);
}

@mixin regular-button {
  background-color: rgba(255, 255, 255, 0.35);
  border-color: chartreuse;
  border-radius: 10px 0 10px 0;
  border-width: 1px;
  border-style: solid;
  cursor: url('./assets/icons/pointer.png') 10 0, auto;
  outline: none;
  font-weight: 600;
}

@mixin modal-styles {
  backdrop-filter: blur(4px);
  background-color: transparent;
  background-image: radial-gradient(
    rgba(241, 137, 241, 0.75) 40%,
    rgba(241, 137, 241, 0.75) 40%,
    rgba(156, 0, 156, 0.25)
  );
  border: 2px solid chartreuse;
  border-radius: 15px 0px 15px;
  margin-block: auto;
  margin-inline: auto;

  // max-width: 50%;
  outline: none;
  padding: 1rem 1rem 2rem;
  text-align: center;

  --clip-path-poly: polygon(
    29rem 0rem,
    29rem 0,
    100% 0,
    100% 100%,
    0% 100%,
    0% 0rem
  );

  &::backdrop {
    // background-color: rgba(0, 0, 0, 0.6);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6));
    clip-path: var(--clip-path-poly);
  }
}

@mixin standing-by($top, $left) {
  position: absolute;
  font-size: clamp(1rem, 0.879rem + 0.518vw, 1.5rem);
  color: chartreuse;
  top: $top;
  text-wrap: nowrap;
  rotate: -4deg;
  left: $left;
}
