@use '../abstracts/mixins' as m;

.back-to-top {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;

  svg {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px 0px 10px;
    bottom: 1rem;
    outline: 1px solid chartreuse;
    outline-offset: 2px;
    padding: 0.6rem;
    position: fixed;
    right: 10vw;
    transition: background-color 0.3s;

    path {
      transition: fill 0.3s ease;
    }
  }

  &:hover svg,
  &:focus-visible svg {
    background-color: rgba(127, 255, 0, 0.4);
  }

  &:focus-visible svg {
    @include m.focus-visible();
  }

  &:hover svg path,
  &:focus-visible svg path {
    fill: chartreuse;
  }
}
