@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as m;

header {
  @include m.display(flex, stretch, space-around);
  flex-wrap: wrap;
  margin-block-start: 2rem;

  .logo-wrapper {
    display: grid;
    height: 300px;
    min-width: 150px;
    place-content: center;
  }

  nav {
    flex-basis: 66%;
    margin-block-start: 1rem;

    ul {
      @include m.display(flex, center, space-between);

      li {
        list-style-type: none;
        position: relative;

        img {
          opacity: 0.6;
          width: clamp(110px, 10vw, 175px);
        }
      }

      li:nth-child(1) {
        rotate: 15deg;

        p {
          padding-block-end: 0.5rem;
          text-align: center;
        }

        button {
          border: 1px solid chartreuse;
          border-radius: 15px 0px 15px 0px;
          box-shadow: 2px 2px 0px black;
          cursor: url('./assets/icons/pointer.png') 10 0, auto;
          padding: 0.5rem 1rem 0.25rem;
          background: radial-gradient(
            rgb(249, 239, 255),
            rgb(241, 205, 241),
            rgb(235, 172, 235),
            rgb(238, 149, 238),
            violet
          );
        }
      }

      li:nth-child(3) {
        rotate: -10deg;
      }

      li a::after {
        font-size: clamp(0.75rem, 0.777vw + 0.568rem, 1.5rem);
        left: 50%;
        position: absolute;
        text-wrap: nowrap;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      li:nth-child(1):not(:has(#logout-cart-wrapper)) a::after {
        content: 'Sign In';
      }

      li:nth-child(2) a::after {
        content: 'Shop';
        top: 53%;
      }

      li:nth-child(3) a::after {
        content: 'Dev Info';
        font-size: clamp(1rem, 0.97rem + 0.129vw, 1.125rem);
      }
    }

    #shop-heading-text {
      margin-block-end: 0;
      margin-inline: auto;
      max-width: 75ch;
      text-align: center;

      a {
        color: chartreuse;
      }
    }

    #orders-link {
      background-blend-mode: darken;
      background-color: rgba(231, 39, 231, 0.75);
      background-image: url('/assets/images/orders-link-bg.jpg');
      background-size: cover;
      border-radius: 15px 0px 15px;
      box-shadow: 0px 1px 5px chartreuse;
      font-size: clamp(1rem, 3.5vw, 2rem);
      margin-block: -1.5rem 1rem;
      margin-inline: auto;
      opacity: 0;
      outline-offset: 2px;
      padding: 2rem;
      pointer-events: none;
      position: relative;
      width: 20rem;

      &::after {
        color: chartreuse;
        content: 'View Orders';
        left: 50%;
        position: absolute;
        text-wrap: nowrap;
        top: 0.85rem;
        transform: translateX(-50%);
      }
    }
  }

  .heading-social-wrapper {
    @include m.display(flex, center, flex-start);
    margin-block-start: 2rem;
    position: relative;

    .heading-social-star {
      position: absolute;
      rotate: -7deg;
      width: clamp(1rem, 0.636rem + 1.553vw, 2.5rem);
    }

    h1 {
      font-size: clamp(1.5rem, 1.136rem + 1.553vw, 3rem);
      margin-inline: auto;
      text-align: center;
      text-wrap: nowrap;

      span {
        display: inline-block;
        font-size: clamp(1.5rem, 0.165rem + 5.696vw, 7rem);
        margin-block: 0.5rem 0.25rem;
        transform: translateY(0.5rem);
      }

      span:nth-of-type(1) {
        color: indigo;
        rotate: 15deg;
        transform: translateY(1.5rem);
      }

      span:nth-of-type(2) {
        color: blue;
        rotate: -12deg;
        transform: translateY(-0.1rem);
      }

      span:nth-of-type(3) {
        color: rgb(255, 0, 191);
        rotate: 10deg;
        transform: translateY(1.5rem);
      }

      span:nth-of-type(4) {
        color: yellow;
        rotate: -12deg;
      }

      :nth-of-type(5) {
        color: orangered;
        rotate: 10deg;
        transform: translateY(1rem);
      }

      :nth-of-type(6) {
        color: chartreuse;
        font-size: clamp(1.5rem, 0.893rem + 2.589vw, 4rem);
        margin-inline-start: 0.25rem;
        rotate: 15deg;
      }
    }

    .social-wrapper {
      padding-inline-end: 2.5rem;

      .icons-wrapper {
        display: grid;
        gap: 0.75rem;
        margin-block-start: 0.5rem;
        min-width: 1.5rem;

        img {
          margin-inline: auto;
          width: 35px;
        }
      }
    }
  }
}

#shop-page-header {
  .logo-wrapper {
    align-self: start;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
}

#shop-page-header {
  ul li:nth-child(2) a::after {
    color: chartreuse;
    content: 'Home';
    top: 6.25rem;
  }

  nav li:nth-child(2) {
    img {
      max-width: 90px;
    }
  }
}

#logout-cart-wrapper {
  @include m.display(flex, center, space-around);
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;

  #cart-icon-wrapper {
    position: relative;

    #cart-icon {
      max-width: 60px;
    }

    span {
      aspect-ratio: 1;
      border-radius: 50%;
      bottom: 0;
      display: grid;
      font-family: $font-para;
      left: 0;
      outline: 2px solid chartreuse;
      place-content: center;
      pointer-events: none;
      position: absolute;
      width: 1.5rem;
      background: radial-gradient(
        rgb(249, 239, 255),
        rgb(241, 205, 241),
        rgb(235, 172, 235),
        rgb(238, 149, 238),
        violet
      );
    }
  }
}
