header {
  padding-inline: 2rem;

  .logo-wrapper {
    width: 85%;
    // outline: 2px solid lime;
    height: 300px;
    margin-inline: auto;
    display: grid;
    place-content: center;
    margin-bottom: 5rem;
  }

  ul {
    img {
      margin-inline: auto;
      opacity: 0.6;
    }
    li:nth-child(1) img {
      max-width: 50%;
    }
    li:nth-child(2) img {
      max-width: 60%;
      margin-block: 1.5rem 2.5rem;
    }
    li:nth-child(3) img {
      max-width: 50%;
    }
    li:nth-child(1) {
      rotate: 10deg;
    }
    li:nth-child(2) {
      rotate: -6deg;
    }
    li:nth-child(3) {
      rotate: 7deg;
    }
    li {
      list-style-type: none;
      position: relative;
    }

    li a::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-wrap: nowrap;
    }
    li:nth-child(1) a::after {
      content: "Sign Up";
    }
    li:nth-child(2) a::after {
      content: "Shop";
      top: 53%;
    }
    li:nth-child(3) a::after {
      content: "Contact";
    }
  }
}
