@use '../abstracts/variables' as *;

header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    'logo nav nav'
    'logo head head'
    'logo head head';

  .logo-wrapper {
    height: 300px;
    display: grid;
    place-content: center;
    min-width: 150px;
    grid-area: logo;
  }

  nav {
    grid-area: nav;
    margin-block-start: 1rem;

    ul {
      display: flex;
      justify-content: space-between;
      margin-inline: 1rem;

      li {
        list-style-type: none;
        position: relative;

        img {
          opacity: 0.6;
          width: clamp(5rem, 10vw, 10rem);
        }
      }

      li:nth-child(1) {
        rotate: 15deg;

        button {
          cursor: pointer;
          padding: 0.5rem 1rem 0.25rem;
          border-radius: 15px 0px 15px 0px;
          border: 1px solid chartreuse;
          background: radial-gradient(
            rgb(249, 239, 255),
            rgb(241, 205, 241),
            rgb(235, 172, 235),
            rgb(238, 149, 238),
            violet
          );
          box-shadow: 2px 2px 0px black;
        }
      }

      li:nth-child(3) {
        rotate: -10deg;
      }

      li a::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-wrap: nowrap;
        font-size: 1.5rem;
      }

      li:nth-child(1) a::after {
        content: 'Sign In';
      }

      li:nth-child(2) a::after {
        content: 'Shop';
        top: 53%;
      }

      li:nth-child(3) a::after {
        content: 'Dev Stuff';
        font-size: 1.125rem;
      }
    }
    #shop-heading-text {
      text-align: center;
    }
  }

  .heading-social-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    margin-block-start: 2rem;

    .heading-social-star {
      position: absolute;
      top: 2.5rem;
      left: 1.5rem;
      min-width: 1rem;
      width: 2.5vw;
      rotate: -7deg;
    }

    h1 {
      font-size: 3rem;
      text-align: center;
      margin-inline: auto;
      flex: 1;

      span {
        font-size: clamp(2rem, 5.5vw, 7rem);
        display: inline-block;
        transform: translateY(0.5rem);
      }
      span:nth-of-type(1) {
        color: indigo;
        rotate: 15deg;
        transform: translateY(1.5rem);
      }
      span:nth-of-type(2) {
        color: blue;
        rotate: -12deg;
        transform: translateY(-0.1rem);
      }
      span:nth-of-type(3) {
        color: rgb(255, 0, 191);
        rotate: 10deg;
        transform: translateY(1.5rem);
      }
      span:nth-of-type(4) {
        color: yellow;
        rotate: -12deg;
      }
      :nth-of-type(5) {
        color: orangered;
        transform: translateY(1rem);
        rotate: 10deg;
      }
      :nth-of-type(6) {
        // color: orangered;
        rotate: 15deg;
        font-size: 4rem;
        transform: translate(-1rem, 0.25rem);
      }
      span:last-child {
        color: chartreuse;
        margin-inline-start: 0.25rem;
      }
    }

    .social-wrapper {
      padding-inline-end: 2.5rem;

      .icons-wrapper {
        margin-block-start: 0.5rem;
        display: grid;
        gap: 0.75rem;

        img {
          width: 35px;
          margin-inline: auto;
        }
      }
    }
  }
}

#shop-page-header {
  display: flex;
  .logo-wrapper {
    flex-basis: 35vw;
    margin-inline-start: 2rem;
    align-self: center;
  }
  nav {
    padding-inline-start: 2.25rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
}

#shop-page-header {
  ul li:nth-child(2) a::after {
    content: 'Home';
    top: 40%;
  }
  nav li:nth-child(2) {
    img {
      max-width: 75px;
      border-radius: 15px 0px 15px 0px;
    }
  }
}
