body {
  background-attachment: fixed;
  background-image: url('./assets/images/site_bg.webp'),
    radial-gradient(rgb(223, 68, 223), purple);
  background-position: center center;
  background-size: cover;
  margin-inline: auto;
  max-width: 1300px;
  min-height: 100vh;
  padding: 0 1rem;

  .toast-close {
    color: red;
    padding-inline: 0 1rem;
  }
}
