@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as m;

#product-dialog {
  @include m.modal-styles;

  h3 {
    font-size: clamp(1.5rem, 2.75vw, 3rem);
    margin-block-end: 1rem;
    color: chartreuse;

    span {
      font-family: $font-para;
    }
  }

  #dialog-outer-images-wrapper {
    display: grid;
    grid-template-columns: 75% 15%;
    justify-items: center;
    cursor: url('./assets/icons/pointer.png') 10 0, auto;

    #dialog-img-wrapper {
      border-radius: 15px 0px 15px;
      overflow: hidden;
      width: 75%;
      outline: 1px solid chartreuse;
    }
    #dialog-thumbs-wrapper {
      display: grid;
      align-items: center;

      .active-thumb {
        outline-offset: 5px;
        outline-width: 5px;

        img {
          opacity: 0.35;
        }
      }

      .thumb-wrapper {
        border-radius: 15px 0px 15px;
        overflow: hidden;
        outline: 1px solid chartreuse;
        cursor: url('./assets/icons/pointer.png') 10 0, auto;
      }
    }
  }
  #product-dialog-desc {
    margin-inline: 5rem;
    margin-block: 1rem;
    font-size: 1.125rem;
  }

  #product-dialog-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    #product-dialog-in-stock {
      color: chartreuse;
      margin-block: auto;
    }

    #dialog-qty-input-wrapper {
      label {
        color: chartreuse;
        font-size: 1.125rem;
        margin-inline-end: 0.5rem;
      }

      input {
        width: 4.5rem;
        text-align: center;
        padding: 0.25rem;
        border-radius: 15px 0px 15px;

        &:focus-visible {
          outline: 2px solid chartreuse;
        }
      }
    }

    button {
      @include m.regular-button;
      font-family: $font-para;
      padding: 0.5rem 1rem;
      border-radius: 15px 0px 15px;

      &:focus-visible {
        outline: 2px solid chartreuse;
      }
    }
  }
}
