#product-dialog {
  margin: auto;
  max-width: 60%;
  border: 2px solid chartreuse;
  outline: none;
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
  }

  #btn-close {
    cursor: pointer;
  }

  // #product-dialog-content {
  // }
}
